@import "tailwindcss";

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .pretty-scrollbar::-webkit-scrollbar {
        width: 0.5vw;
    }

    .pretty-scrollbar::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #101828;
    }

    .pretty-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #ff0044;
    }

    .border-do {
        border: 2px solid white;
    }
}

@theme {

    --color-primary: #ff0044;
    --color-shimmerBorder: #990029;
    --animate-dotBounce: animateDot 0.3s infinite alternate;

    @keyframes animateDot {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    --animate-showAuthModal: showAuth 0.3s ease forwards;
    --animate-hideAuthModal: hideAuth 0.3s ease forwards;

    @keyframes showAuth {
        0% {
            transform: scale(0, 0);
            opacity: 0;
        }

        100% {
            transform: scale(1, 1);
            opacity: 1;
        }
    }

    @keyframes hideAuth {
        0% {
            transform: scale(1, 1);
            opacity: 1;
        }

        100% {
            transform: scale(0, 0);
            opacity: 0;
        }
    }

    --animate-slideDown : slideDown 0.6s ease forwards;

    @keyframes slideDown {
        0% {
            top: -110%;
        }

        100% {
            top: 0%;
        }
    }

    --animate-slideHide : slideHide 0.4s ease forwards;
    --animate-slideShow : slideShow 0.4s ease forwards;

    @keyframes slideShow {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }

    @keyframes slideHide {
        0% {
            left: 0%;
        }

        100% {
            left: -100%;
        }
    }

    --animate-shimmer-bg: bgChange 1.5s ease-in infinite forwards;

    @keyframes bgChange {
        0% {
            background-color: #9c022b;
        }

        50% {
            background-color: #69021e;
        }

        100% {
            background-color: #9c022b;
        }
    }
}

@media screen and (max-width: 768px) {
    .pretty-scrollbar::-webkit-scrollbar {
        width: 1vw;
    }
}